<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/calendar"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/calendar_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SchedulingAppointmentPlanner"
        tools:targetApi="31">
        <activity
            android:name=".HomePage.calendar.EventEdit"
            android:exported="false" />
        <activity
            android:name=".alarm"
            android:exported="false" />
        <activity
            android:name=".LoginSignup.ResetPasswordView"
            android:exported="false"
            android:label="Settings"
            android:parentActivityName=".LoginSignup.Login"
            android:theme="@style/AppTheme.NoPaddingActionBar" />
        <activity
            android:name=".HomePage.Settings"
            android:exported="false"
            android:label="Settings"
            android:parentActivityName=".HomePage.HomePageView"
            android:theme="@style/AppTheme.NoPaddingActionBar" />
        <activity
            android:name=".LoginSignup.EmailVerification"
            android:exported="false" />
        <activity
            android:name=".LoginSignup.SignupSeuccess"
            android:exported="false" />
        <activity
            android:name=".LoginSignup.Signup"
            android:exported="false" />
        <activity
            android:name=".LoginSignup.Login"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HomePage.HomePageView"
            android:exported="false"></activity>
        <activity
            android:name=".MainActivity"
            android:exported="false"></activity>
    </application>

</manifest>